<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/style.css" type="text/css"> -->
    <title>Products</title>
    <style>
        .divp {
            text-align: center;
        }

        .infoH {
            text-align: center;
        }

        .divInfo {
            margin: auto;
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="divInfo divp">
        <h1 class="infoH">Products</h1>
        <!-- <button onclick="display()"><a href="/products">All Products</a></button> -->

        <button onclick="display()">All Products</button>
        <!-- <button class="btn">Test</button> -->
        <h1 id="demo"></h1>
    </div>

    <script src="/static/js/script.js"></script>
</body>
<!-- <script>
    // console.log("It's working!!!")
    setInterval(myFunction, 1000);

    function myFunction() {
        let d = new Date();
        document.getElementById("demo").innerHTML =
            d.getHours() + ":" +
            d.getMinutes() + ":" +
            d.getSeconds();
    }
</script> -->

</html>