<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/style.css" type="text/css"> -->
    <title>Product Info</title>
    <style>
        .divp {
            text-align: center;
        }

        .infoH {
            text-align: center;
        }

        .divInfo {
            margin: auto;
            width: 50%;
        }
    </style>
</head>

<body>
    <div class="divInfo">
        <h1 class="infoH">Product Info</h1>
        <div class="divp">
            <h3>Book</h3>
            <img src="/static/img/book.jpeg">
            <p>Price: 300/-</p>
            <p>Made by Brunnen in southern Germany, thread sewn, ink resistant paper (80 g/m²). Comes with bookmark,
                elasticated band for closing, pouch on the back and pen sleeve. Black, grainy, water resistant cover
                made from vinyl layered paper.
                192 pages. 12.8 × 9.5 cm. Delivery without a pen.</p>
            <button><a href="/products">Back To Products</a></button>
            <button><a href="/">Home</a></button>
        </div>
    </div>
</body>

</html>